In [1]:
# Create a program to manage a list of student names. Implement functionalities to:

# Add a new student.
# Remove a student by name.
# Display all students in alphabetical order.
# Count the total number of students.

student = []
student.append("abdullah")
student.append("uzair")
student.append("hamza")
student.append("ahmad")
print(student)
student.remove("ahmad")
print(student)
student.sort(key = str.lower)
print(student)
print(len(student))

['abdullah', 'uzair', 'hamza', 'ahmad']
['abdullah', 'uzair', 'hamza']
['abdullah', 'hamza', 'uzair']
3

In [ ]:
# Project 2: List Operations Demo
# Develop a Python script to demonstrate:

# Appending items to a list.
# Inserting an item at a specific position.
# Popping and removing items.
# Sorting and reversing the list.

myList = []
myList.append("abdullah")
myList.append("uzair")
myList.append("hamza")
myList.append("abdusmad")
myList.append("imad")
myList.append("shafahad")
myList.append("jawad")
print(myList)
myList.insert(3,"talha")
print(myList)
myList.pop()
print(myList)
myList.remove("imad")
print(myList)
myList.sort()
print(myList)
myList.reverse()
print(myList)

['abdullah', 'uzair', 'hamza', 'abdusmad', 'imad', 'shafahad', 'jawad']
['abdullah', 'uzair', 'hamza', 'talha', 'abdusmad', 'imad', 'shafahad', 'jawad']
['abdullah', 'uzair', 'hamza', 'talha', 'abdusmad', 'imad', 'shafahad']
['abdullah', 'uzair', 'hamza', 'talha', 'abdusmad', 'shafahad']
['abdullah', 'abdusmad', 'hamza', 'shafahad', 'talha', 'uzair']
['uzair', 'talha', 'shafahad', 'hamza', 'abdusmad', 'abdullah']